// Pico Override - H1 bottom spacing
h1 {
    --typography-spacing-vertical: 1rem;
}

// Pico Override - H2 bottom spacing
h2 {
    --typography-spacing-vertical: 1rem;
}

// Pico Override - List spacing 
:root {
    --typography-spacing-vertical: .5rem
}